// GLOBAL STYLES -----------------------------------------------------
    $--color-Primary: #680747;
    $--color-Secondary: #feffdf;
    $--color-dark: #272343;
    $--color-light: #fafafa;
    
    $--header-1: 96px;
    $--header-2: 60px;
    $--header-3: 24px;

    $--ff-primary: 'Shadows Into Light', cursive;
    $--ff-secondary: 'Roboto Condensed', sans-serif;
    $--ff-reading: 'Source Sans Pro', sans-serif;
    
    $--para-1: 18px;
    $--para-2: 14px;
    
    $--fw-bold: 600;
    $--fw-bolder: 900;
    
    $--bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 
    0.125em 0.125em 0.25em rgba(0,0,0, .15);


// main navigation bar -----------------------------------------------
.main-nav {
    background-color: $--color-light;
    font-size: 20px;
    .nav-link {
        color: $--color-dark;
        font-weight: $--fw-bold;
    }
    .nav-link:hover {
        color: $--color-Primary;
    }
}

// header and subheader ----------------------------------------------
.logo-img {
    border-radius: 50%;
    margin: auto;
    display: block;
    width: 200px;
}

.main-header {
    font-size: $--header-1;
    font-weight:bolder;
    font-family: $--ff-primary;
    text-align: center;
    color: $--color-light;
    padding-top: 20px;
}

// footer -----------------------------------------------------------
.site-footer {
    background-color: $--color-light;
    position: absolute;
    bottom: 0;
    width: 100%;
        a {
            text-decoration: none;
            color: $--color-dark;
            font-weight: $--fw-bold;
            font-size: 20px;
        }
        h5 {
            font-weight: $--fw-bolder;
            color: $--color-dark;
            font-size: 22px;
        }
}

// media queries ----------------------------------------------------
